<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68024236062-uakg7shn170dohd76eari85uc7l195l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68024236062-uakg7shn170dohd76eari85uc7l195l0</string>
	<key>API_KEY</key>
	<string>AIzaSyBo_rwb_9NYGxyacpkfqIkLIX3OFMTXbSE</string>
	<key>GCM_SENDER_ID</key>
	<string>68024236062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecare.fkc</string>
	<key>PROJECT_ID</key>
	<string>fetalkickcount-14a72</string>
	<key>STORAGE_BUCKET</key>
	<string>fetalkickcount-14a72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68024236062:ios:681bc0953760ec6868960f</string>
</dict>
</plist>